<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Like our idea and things we create,</p>
            </div>
        </div>
        
        <div class="row">
        <div class="col-md-3 text-center">
            <a href="https://x.com/innoisle">
                <i class="fa-brands fa-x-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>@innoisle</p>
            </a>
        </div>
        <div class="col-md-3 text-center">
            <a href="https://www.youtube.com/@innoisleofficial">
            <i class="fa-brands fa-youtube fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>@innoisleofficial</p>
            </a>
        </div>
        <div class="col-md-3 text-center">
            <a href="https://discord.innoisle.com">
            <i class="fa-brands fa-discord fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>innoisle community</p>
            </a>
        </div>
        <div class="col-md-3 text-center">
            <a href="https://www.instagram.com/innoisle/">
            <i class="fa-brands fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>@innoisle</p>
            </a>
        </div>
        <div class="col-md-3 text-center">
            <a href="https://www.reddit.com/r/innoisle/">
            <i class="fa-brands fa-reddit-alien fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>r/innoisle</p>
            </a>
        </div>
        <div class="col-md-3 text-center">
            <a href="https://www.tiktok.com/@innoisle">
            <i class="fa-brands fa-tiktok fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>@innoisle</p>
            </a>
        </div>
        <div class="col-md-3 text-center">
            <a href="https://github.com/innoisle">
            <i class="fa-brands fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>innoisle</p>
            </a>
        </div>
        <div class="col-lg-3 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa-solid fa-envelope fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>

    </div>
</section>
