<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>innoisle</h1>
            
            <p>innoisle is a place that embodies all the innovative ideas and unique products we carry. The name "Innoisle" is a combination of "innovation" and "isle", which means lots of small innovation ideas represented by small islands in the ocean. </p>
            <p>Within innoisle, Attaky develops modular hardware, and the Beartech workshop provides Openpilot accessories.</p>
            
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Attaky</a>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Beartech</a>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Follow</a>
        </div>
    </div>
</header>
