<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Innoisle</h1>
            <hr>
            <p>Innoisle is a place that embodies all the innovative ideas and unique products we carry. The name "Innoisle" is a combination of "innovation" and "isle", which means lots of small innovation ideas represented by small islands in the ocean. </p>
            <p> </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
