<header class="innoisle_header" >
    <div class="header-content" id="about">
        <div class="header-content-inner">
            <h1>innoisle</h1>
            <hr>
            <div class="textwarp">
                <p>innoisle is a place that embodies all the innovative ideas and unique products we carry. The name "Innoisle" is a combination of "innovation" and "isle", which means lots of small innovation ideas represented by small islands in the ocean. </p>
                <p>Within innoisle, Attaky develops modular hardware, and the Beartech workshop provides Openpilot accessories.</p>
            </div>
        </div>
    </div>
</header>
