<section class="bg-primary" id="shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Our shop offers our latest creations. If they interest you, please take a look at our shop.</p>
                <a href="https://shop.tlbb.ca/" class="btn btn-default btn-xl"><i class="fa-solid fa-cart-shopping"></i> Shop at innoisle store</a>
            </div>
        </div>
    </div>
</section>
