<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-54HB3DPD"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% include nav.html %}
  {% include innoisle_header.html %}
  {% include doc.html %}
  {% include attaky_header.html %}
  {% include shop.html %}
  {% include beartech_header.html %}
  {% include contact.html %}
  {% include aside.html %}
  {% include scripts.html %}
</body>

</html>